/* HEADER CSS */

.nav-container {
    background-color: grey;
}

.navbar {
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    align-content: center;
    padding: 2em;
}

.navbar-item {
    text-decoration: none;
}

/* END HEADER CSS */