@import url('https://fonts.googleapis.com/css?family=Quicksand:500');

body{
   background-color: #21252B;
   text-transform: uppercase;
   font-family: 'Quicksand', sans-serif;
   letter-spacing: 1.5px;
   color:white;
   word-spacing: 3px;
   line-height: 30px;
}

/* HEADER CSS */

.nav-container {
  background-color:#21252B;
}

.navbar {
  display: flex;
  list-style-type: none;
  justify-content: space-around;
  align-content: center;
  padding: 2em;
}

.navbar-item {
  text-decoration: none;
  color:white;
}

.navbar-item:hover{
  opacity: .5;
  transition: .25s;
}
/* HEADER CSS */
/* FOOTER STYLING */

.test{
  font-size: 25px;
  width: 100%;
  text-decoration: none;
  position: relative;
  right: 0;
  bottom: 0;
  background-color:#21252B;
  text-align: center;
  display: flex;
}

.test h3{
  color: white;
  padding-left: 70%;
  font-size: 15px;
  padding-top: 15px;
  font-size: 12px;
  white-space: nowrap;
}


.test li{
  display: flex;
}

.test li a{
   margin: 10px;
}


.fa{
  text-decoration: none;
  transition: .25s; 
}

.fa:hover {
    opacity: 0.5;
}

.fa-facebook {
  color: white;
}

.fa-twitter {
  color: white;
}

.fa-instagram {
  color: white;
}

/* FOOTER STYLING */

/* Page Styles */
.content{
  text-align: center;
  padding-top: 50px;
  background-color: #282C34;
}

.summaryIMG{
  display: inline-block;
  max-width: 200px;
  transition: 2s;
  padding-top: 25px;
}

.summaryIMG:hover{
  transform: scale(1.05);
}


.content h2{
  padding-top: 125px;
}

/* Page Styles */